.idea
data/__pycache__/
data/scripts/AI/__pycache__/
data/scripts/PLAYER/__pycache__/
data/scripts/PLAYER/player_sub/__pycache__/
data/scripts/POSTPROCESSING/__pycache__/
data/scripts/QUESTS/__pycache__/
data/scripts/UI/__pycache__/
data/scripts/__pycache__/
data/database/cutscenes.json
